@import url("global.css");
@import url("colors.css");

.login{
  background-color: var(--cor5);
  width: 100%;
  height: 10vh;
  padding: 0;
}

.login > a {
  text-decoration: none;
  color: #000;
  font-size: 2rem;
  font-weight: 300;
}

.login > a:hover {
  text-decoration: underline;
}

header {
  background-color: var(--cor1);
  padding: 1.2em;
  position: sticky;
}

header > nav {
   display: flex;
   justify-content: space-evenly;
   margin: 0;
}

nav > a {
  color: #ffffff;
  font-size: 1.25em;
  margin-left: 1rem;
  transition: all 0.5s ease;
}

nav > a:hover {
  color: #bb3030;
}

button {
  font-size: 2rem;
  border: none;
  padding: 5px; 
  border-radius: 10px;
  background-color: var(--cor4);
  display: none;
}

button:hover {
  filter: brightness(1.3);
}