@import url("global.css");
@import url("colors.css");

header {
  background-color: var(--cor1);
  padding: 1.25em;
  position: sticky;
}

header > nav {
   display: flex;
   justify-content: space-evenly;
}

nav > a {
  color: #ffffff;
  font-size: 1.25em;
  margin-left: 1rem;
  transition: all 0.5s ease;
}

nav > a:hover {
  color: #bb3030;
}

button {
  font-size: 2rem;
  border: none;
  padding: 5px; 
  border-radius: 10px;
  background-color: var(--cor4);
  display: none;
}

button:hover {
  filter: brightness(1.3);
}